body { margin: 0; 
  background: #000;
  color: white; 
  font-family: sans-serif; 
  overflow-x: hidden; }

.parallax-wrapper { position: relative; }

.layer {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 1000vh;
  pointer-events: none;
  z-index: 1;
}

.planet {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  z-index: 3;
  pointer-events: none;
}

.planet-inner {
  width: 3000px;  
  height: 3000px;
  position: absolute;
  bottom: -300%; 
  left: -100%;
  background-image: url('https://www.freeiconspng.com/uploads/moon-png--0.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: center center;
  animation: slowRotate 180s linear infinite;
  filter: brightness(0.5) contrast(1.1);
}


.comet {
  position: fixed;
  top: 100%; 
  left: 40%; 
  width: 200px;
  height: 200px;
  z-index: 2;
  pointer-events: none;
}

.comet-inner {
  width: 100%;
  height: 100%;
  background-image: url('https://www.freeiconspng.com/uploads/comet-red-plain-transparent-image-14.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-20deg); 
}

.human {
  position: fixed;
  top: 160%; 
  left: 70%; 
  width: 300px; 
  height: 300px;
  z-index: 2;
  pointer-events: none;
}

.human-inner {
  width: 100%;
  height: 100%;
  background-image: url('https://purepng.com/public/uploads/thumbnail//purepng.com-astronautastronautcosmonauttrainedtrainedspaceflightpilotspace-travelerspersonscientist-1421526662221byolf.png');
  background-size: contain;
  background-repeat: no-repeat;
  animation: slowRotate 100s linear infinite; 
}

.debris {
  position: fixed;
  top: 240%; 
  left: -10%; 
  width: 300px; 
  height: 300px;
  z-index: 2;
  pointer-events: none;
}

.debris-inner {
  width: 100%;
  height: 100%;
  background-image: url('https://www.pngmart.com/files/23/Debris-Transparent-PNG.png');
  background-size: contain;
  background-repeat: no-repeat;
  animation: slowRotate 300s linear infinite; 
}

.ship {
  position: fixed;
  top: 84%;
  left: -23.6%;
  width: 400px;
  height: 400px;
  z-index: 4;
  pointer-events: none;
}

.ship-inner {
  width: 100%;
  height: 100%;
  background-image: url('https://www.nicepng.com/png/full/225-2255421_missile-launchers-six-concussion-missiles-tantive-iv-png.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-20deg); 
  filter: brightness(0.8) contrast(1.1);
}

.rotate-me {
 width: 150vw; 
  height: 150vh; 
  position: absolute;
  top: -25vh; 
  left: -25vw;
  background-image: url('https://live.staticflickr.com/65535/52701237320_97a3dc3223_o.jpg');
  background-size: 100vw 100vh;
  background-repeat: repeat;
}

@keyframes slowRotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.title {
  position: fixed;
  top: 40%; 
  width: 100%;
  text-align: center; 
  font-size: 4rem;
  z-index: 4;
}

.text-box {
  position: absolute;
  bottom: 45%;    
  left: 25%;
  transform: translateX(-50%);
  width: 35%;
  color: #f5f5f5;
 
  background: linear-gradient(
    to middle,
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.0)
  );
  padding: 30px 40px;
  border-radius: 20px;
  pointer-events: none;
}

.text-box2 {
  position: absolute;
  bottom: 15%;    
  left: 80%;
  transform: translateX(-50%);
  width: 30%;
  color: #f5f5f5;
 
  background: linear-gradient(
    to middle,
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.0)
  );
  padding: 30px 40px;
  border-radius: 20px;
  pointer-events: none;
}


.content-section {
  position: relative;
  margin-top: 100vh; 
  height: 190vh;
  background: linear-gradient(to bottom, transparent, #000 100%);
  z-index: 10;
  padding: 100px;
}